body{
    overflow: auto;
    background:black;
    margin: 0;
}
.icone img{
    border: 2px solid black;
    height: 50vh;
    width:50vw;
    border-radius: 50%;

} 
.boutton{
    overflow: hidden;
    padding: 1rem;
    position: fixed;
    background: rgb(17, 15, 15);
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 5vh;
    width: 100vw;
    padding-right: 20px;
    gap:50%;
    z-index: 1000;
}
.boutton1{
    display: flex;
    width:860vw;
    margin: 0;
    overflow: auto;
    background: rgb(17, 11, 11);
    float:right;
    gap: 14px;
}
a{
    position:inline-block;
    margin: 3px;
    color:white ;
    border: 3px solid black;
    border-radius: 10%;
    box-shadow: 10px  black;
    text-decoration: none;
    transition:transform  0.4s ease, box-shadow 0.1s ease ;
}

a:hover{
    box-shadow:2px 2px 2px  rgb(195, 45, 255);
    transform: translateY(2px) translateZ(4px);
}
.name{
    background-color: rgb(195, 45, 255);
    background-clip:text;
    color: transparent;
}
.photo1{
    color: white;
    position:relative ;
    float: right;
    width: 100%;
    height: 500px;
    margin:0;
    padding: 30px;
    padding-right: 2px;
    overflow: auto;
    float: right;
    display: flex;
    flex-direction: row;
    gap: 35%;
    text-transform: uppercase;
}
 #photo0 img{
    position: relative;
    transition-property: width 0.2s  ,height 0.2s ,transform 0.2s ease, border-shadow 0.1s ease;
     width: 100%;
    height:80%;
}
 #photo0 img:hover{
    box-shadow: 2px 2px 2px 2px  rgb(183, 0, 255);
    transform:translatez(150px),translatez(150deg),scaley(1.5);
    width: 97%;
    height:77%;
}
.presentation h1{
    position: relative;
    background: linear-gradient(to right,rgb(183, 0, 255),rgb(183, 0, 255),rgb(225, 0, 255));
    color: transparent;
    background-clip:text ;
    font-weight: bold;

}
/*mise en forme du boutton appel*/
span button{
    margin: 0;
    height: 30px;
    border-radius: 50px;
    background-color:rgb(183, 0, 255);
    color: aliceblue;
    
}
.delta{
    display: flex;
    height: 50px;
    background-color: rgb(17, 19, 20);
    margin: 0;
    padding: 12px;
    align-items: center;
    gap: 40px;

}
button img{
    position: relative;
    display: flex;
    border: 2px solid black;
    border-radius:50% ;
    height: 40px;
    width: 40px;
    background:rgb(183, 0, 255) ;
}

/* Styles pour tablette */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
}

/* Styles pour mobile */
@media (max-width: 100%) {
    body {
        width: 100%;
    }
}