body{
    background:black;
    margin: 0;
    padding: 0;
} 
.boutton{
    background: black;
    float: right;
    display: flex;
    flex-direction: row;
    margin: 6px;
    
}
.boutton1{
    position: relative;
    background-color: rgb(216, 206, 206);
   /*z-index: 1;*/
}

a{
    position: inline-block;
    margin: 3px;
    color:white ;
    border: 3px solid black;
    border-radius: 10%;
    box-shadow: 10px  black;
    text-decoration: none;
    /*z-index: 2;*/
}

a:hover{
    background: rgb(97, 97, 201);
}
.photo1{
    float: right;
    width: 20px;
    height: 20px;
    margin: 50px;
    padding: 3px;
}


